<settings>
    <servers>
        <server>
            <id>central</id>
            <username>--</username>
            <password>--</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>central</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.passphrase>--</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>